[Unit]
Description=Run duplicity backup

[Service]
Type=oneshot
EnvironmentFile=%h/.local/config/duplicity/duplicity-settings.env
ExecStart=%h/.local/bin/duplicity-backup.sh backup