BACKUP_ROOT=/mnt/rootnasdata/nextcloud

GPG_KEY_ID=parentsnasrobot@noreply.com

B2_BUCKET=parents-nas-nextcloud
S3_ENDPOINT_URL=https://s3.us-west-004.backblazeb2.com

B2_KEY_ID=$B2_KEY_ID
B2_APPLICATION_KEY=$B2_APPLICATION_KEY
