#!/bin/bash
set -euo pipefail

export BACKUP_ROOT='/mnt/rootnasdata/nextcloud'

export GPG_KEY_ID='parentsnasrobot@noreply.com'

export B2_BUCKET='parents-nas-nextcloud'
export S3_ENDPOINT_URL='s3.us-west-004.backblazeb2.com'

export B2_KEY_ID="$B2_KEY_ID"
export B2_APPLICATION_KEY="$B2_APPLICATION_KEY"
